.favorite-game-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.favorite-game-form-input{
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.favorite-game-form button{
    padding: 8px;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.favorite-game-form button:hover{
    background: #218838;
}

.game-message{
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
}